<h1 class="text-center">
	Welcome to Admin Panel
</h1>
<p>
	  
   		Here you can make changes to your Website
		Here you can make changes to your Website
		Here you can make changes to your Website
		Here you can make changes to your Website
		Here you can make changes to your Website
		Here you can make changes to your Website
		Here you can make changes to your Website
		Here you can make changes to your Website
		Here you can make changes to your Website
		Here you ca
		
		

</p>
<img src="assets/images/aminperson.png" height="300px;">